:root{
  --primary: #0074e3;
  --secondary: #f6fdff;
  --success: #00C853;
  --error: #ff2314;
  --warning: #FFC107;
  
  --bg: #fff735;
  --darker-bg: #0b0a0a;
  --lighter-bg: #00A9FF;
  --shadow: #000203;

}
.page{
  width: 100vw;
  height: 100vh;
}
body{
  background-color: var(--darker-bg);
  color: black;
  overflow: hidden;
  transition: 0.5s ease;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: 'Roboto';
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*Swal restyle*/
.swal2-popup{
  background-color: var(--bg);
  color: white;
  box-shadow: 0px 0px 10px #fff;
  color: black;
}
.swal2-popup .swal2-confirm{
  background-color: var(--success);
}

.rounded-btn-primary{
  background-color: var(--primary);
  border-radius: 40px;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border: 2px white solid;
}
.rounded-btn-secondary{
  background-color: transparent;
  border-radius: 40px;
  padding: 10px 20px;
  border: 1px solid white;
  font-size: 14px;
  color: black;
  cursor: pointer;
}
.rounded-btn-primary img{
  width: 20px;
  height: 20px;
  margin-bottom: -5px;
}
.outlined-btn-secondary{
  background-color: transparent;
  color: var(--secondary);
  border-radius: 40px;
  padding: 5px 20px;
  border: 2px dashed black;
  font-size: 20px;
  cursor: pointer;
}
.navbar{
  display: flex;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  background-color: var(--bg);
  box-shadow: 0px 5px 5px var(--shadow);
  justify-content: center;
  flex-direction: row;
}
.navbar .notifications{
  background-color: var(--bg);
  width: 400px;
  height: fit-content;
  position: absolute;
  right: 50px;
  top: 50px;
  border-radius: 0px 0px 10px 10px;
}
.navbar p{
  color: black;
  margin: 22px 10px;
}
.navbar img{
  position: absolute;
  left: 0;
}
.navbar button{
  position: absolute;
  right: 0;
  margin-top: 10px;  
}
.home-card{
  display: inline-block;
  width: 400px;
  height: 300px;
  background-color: var(--bg);
  border-radius: 8px;
  border: 'none';
  margin: 10px 20px;
}
.interactable{
  cursor: pointer;
}
.interactable:hover{
  font-weight: bold;
}
.dashboard-header{
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
}
.dashboard-header .card{
  display: inline-block;
  width: 265px;
  height: 185px;
  background-color: var(--bg);
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 5px var(--shadow);
}
.dashboard-header .card-text{
  margin-left: 10px;
}
.dashboard-header .card:nth-child(2){animation-delay: .1s;}
.dashboard-header .card:nth-child(3){animation-delay: .2s;}
.dashboard-header .card:nth-child(4){animation-delay: .3s;}
.dashboard-header .card:nth-child(5){animation-delay: .4s;}
.dashboard-category{
  padding: 50px;
  animation: fade-in 1s ease-out;
}
.dashboard-category .card{
  display: inline-block;
  width: 95%;
  height: fit-content;
  padding-bottom: 50px;
  background-color: var(--bg);
  border-radius: 8px;
  margin: 2.5%;
  margin-top: 0px;
  box-shadow: 5px 5px 5px var(--shadow);
  margin-bottom: 100px;
}
.dashboard-header .header.card{
  transform: scale(0.8);
  opacity: 0.5;
  transition: 0.3s;
}
.dashboard-header .card.header.selected{
  transform: scale(1);
  opacity: 1;
}
.dashboard-category .card-body{
  margin-left: 100px;
}
.dashboard-category .card-title{
  margin-bottom: 40px;
}
.dashboard-category .card-title input{
  height: 30px !important;
  width: 250px;
  margin: 5px;
  background-color: white;
  color: black;
}

.dashboard-category .card-title select{
  height: 30px !important;
  width: 100px;
  margin: 5px;
  border-radius: 10px;
}
.column-headers-rw-4 p{
  display: inline-block;
  color: black;
  width: calc(100%/4);
  font-weight: bold;
}
.column-headers-rw-5 p{
  display: inline-block;
  color: black;
  width: calc(100%/5);
  font-weight: bold;
}
.column-headers-rw-6 p{
  display: inline-block;
  color: black;
  width: calc(100%/6);
  font-weight: bold;
}
.column-headers-rw-7 p{
  display: inline-block;
  color: black;
  width: calc(100%/7);
  font-weight: bold;
}
.rows-rw-4 p{
  display: inline-block;
  color: black;
  width: calc(100%/4);
  user-select: text;
}
.rows-rw-4 div{
  display: inline-block;
  color: black;
  width: calc(100%/4);
}
.rows-rw-5 p{
  display: inline-block;
  color: black;
  width: calc(100%/5);
  user-select: text;
}
.rows-rw-6 p{
  display: inline-block;
  color: black;
  width: calc(100%/6);
  user-select: text;
}
.rows-rw-7 p{
  display: inline-block;
  color: black;
  width: calc(100%/7);
  user-select: text;
}
.rows-rw-7 .rounded-btn-primary{
  font-size: 15px !important;
}
.rows-rw-7 .outlined-btn-secondary{
  font-size: 15px !important;
}
.rows-rw-6 .rounded-btn-primary{
  font-size: 15px !important;
}
.rows-rw-6 .outlined-btn-secondary{
  font-size: 15px !important;
}
.rows-rw-5 .rounded-btn-primary{
  font-size: 15px !important;
}
.rows-rw-5 .outlined-btn-secondary{
  font-size: 15px !important;
}
.line{
  width: 90%;
  height: 1px;
  background-color: black;
}
.vline{
  width: 1px;
  height: 90%;
  background-color: black;
}
.dashboard-up-btn{
  position: fixed; 
  top: 100px; 
  left: 5px;
  width: 30px; 
  height: 30px;
  border-radius: 100px;
  animation: anim-scale .5s ease;
  z-index: 10;
}
.request-offer{
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 80%;
  background-color: var(--bg);
  border-radius: 10px;
  animation: anim-scale .5s ease;
  box-shadow: 5px 5px 5px var(--shadow);
}
.request-offer input{
  color: white;
}
.request-offer .file-upload{
  background-color: transparent;
  border: 3px dotted black;
  padding: 20px 0px 10px 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
}
.request-offer .file-upload input{
  background-color: transparent;
  border: none;
  color: black;
  margin-bottom: 0px;
  margin-left: 40px;
}
.request-offer .file-upload ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
input{
  background: white;
  color: black;
  border-radius: 8px;
  min-height: 40px;
  border: rgb(27, 27, 27);
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
}
input:focus {
  outline-width: 0;
}
input::placeholder{
  color: #8492C4;
}
.request-offer .form{
  width: 80%;
  margin: 10px 10%;
}
.request-offer input{
  width: 100% !important;
  margin-bottom: 20px;
}
.basic-multi-select .select__control{
  background: var(--darker-bg);
  color: #8492C4;
  border-radius: 8px;
  min-height: 40px;
  border: rgb(27, 27, 27);
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
}
.basic-multi-select .select__menu{
  background: var(--darker-bg);
  color: #8492C4 !important;
}
.basic-multi-select .select__multi-value{
  background: var(--bg);
}
.basic-multi-select .select__single-value{
  color: var(--secondary) !important;
}
.basic-multi-select .select__multi-value__label{
  color: #8492C4 !important;
}
.upload-file{
  width: 100% !important;
}
.upload-file-container{
  border: 2px dashed var(--darker-bg);
  width: 80% !important;
  height: fit-content !important;
  text-align: center;
  padding: 10px;
  margin: 20px 8%;
}
.upload-file p{
  color: white;
  margin-top: -10px;
}
.request-sent{
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  height: 40%;
  background-color: var(--bg);
  border-radius: 10px;
  animation: anim-scale .5s ease;
  box-shadow: 5px 5px 5px var(--shadow);
}
.request-sent .request-head{
  text-align: center;
}
.request-sent .request-data{
  background-color: var(--lighter-bg);
}
.request-sent .request-data{
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 50px;
}
.deposit-popup{
  position: absolute !important;
  top: 10%;
  left: 30%;
  width: 40%;
  height: 80%;
  background-color: var(--bg);
  border-radius: 8px;
  display: inline-block;
  animation: anim-scale .5s ease;
}
.deposit-popup-head{
  margin-top: 50px;
  margin-left: 7%;
  margin-right: 5%;
  height: 30%;
  text-align: center;
  
}
.deposit-popup-order-info{
  height: 70%;
  width: 40%;
  padding-left: 30px;
  margin-top: -50px;
}
.deposit-popup-order-info .vline{
  margin-top: -140%;
  margin-left: 100%;
  height: 100%;
  background-color: #181F25;
}
.deposit-popup-head .line{
  width: 112%;
  margin-left: -7%;
  background-color: #181F25;
}
.deposit-popup-order-info .header-text{
  font-weight: bold;
  margin-bottom: calc(100%/6);
}
.deposit-popup-order-info .text{
  margin-top: -40px;
  height: 30px;
}
.deposit-popup-payment-info{
  width: 60%;
  height: 70%;
  position: absolute;
  top: 30%;
  left: 50%;
}
.deposit-popup-payment-info .header-text{
  font-weight:lighter;
  font-size: 13px;
}
.deposit-popup-payment-info .text{
  margin-top: -30px;
  margin-bottom: 30px;
  width: 80%;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}
.deposit-popup-payment-info .text img{
  position: relative;
  top: 5px;
}
.deposit-popup-payment-info .line{
  margin-left: -8%;
  background-color: #181F25;
}
.deposit-popup-payment-info .img-text{
  font-weight: bold;
  vertical-align:middle;
  font-size: 16px;
  margin-bottom: 50px;
  margin-top: -30px;
  margin-left: 10px;
}
.deposit-popup-payment-info .img-text img{
  position: relative;
  top: 15px;
  left: -20px
}
.offer{
  height: 90%;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 80%;
}
.offer-order-data{
  height: 20%;
  width: 80%;
  margin-bottom: 50px;
  border-radius: 8px;
  background-color: var(--bg);
  padding: 50px;
  padding-top: 10px;
}
.offer-order-data .column-headers-rw-5{
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
}
.offer-order-data .rows-rw-5{
  padding: 5px;
  border-radius: 0px 0px 10px 10px;
}
.offer-order{
  height: 50%;
  border-radius: 8px;
  width: 80%;
  background-color: var(--bg);
  padding: 50px;
  padding-top: 10px;
}
.offer-order input{
  color: white;
}
.offer-order .column-headers-rw-4 .line{
  width: 100%;
}
.offer-order .fields{
  margin-left: -3%;
  overflow-y: scroll;
  max-height: 300px;
  
}
.offer-order .fields li{
  animation: anim-scale 0.2s;
  width: 99%;
}
.offer-order .row .rows-rw-4{
  background-color: var(--darker-bg);
  border-radius: 8px;
  padding-left: 20px;
  margin-bottom: 10px;

}
.offer-order ul{
  list-style: none;
}
.panel{
  height: 100%;
  width: 40%;
  position: absolute;
  left: 30%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.panel .logo{
  width: 50%;
  position: relative;
  left: 5%;
  margin-top: 100px;
}
.panel .inputs{
  width: 80%;
  position: relative;
  left: 10%;
}
.panel .inputs input{
  width: 40%;
}
.panel .inputs .validate-btn{
  width: 92%;
  padding: 15px;
  background-color: var(--bg);
  border-radius: 10px;
  border: none;
  color: black;
  font-size: 20px;
  margin-top: 50px;
}
.manage-panel{
  width: 50%;
  margin-left: 25%;
  height: 100%;
  color: black;
  text-align: center;
}
.manage-panel h1{
  position: relative;
  top: 100px;
  font-size: 60px;
  margin-bottom: 150px;
}
.manage-panel h2{
  text-align: start;
  margin-left: 20%;
}
.manage-panel input{
  width: 60%;
  margin-right: 20px;
  margin-left: 80px;
}
.manage-panel ul{
  text-align: start;
  margin-left: 20%;
  margin-bottom: 100px;
}
.manage-panel ul .li-i{
  display: inline;
}
.manage-panel .li-i li{
  width: 300px !important;
  display: inline-block;
  margin-bottom: 10px;
}
.manage-panel ul p{
  display: inline;
  color: var(--error);
  margin-left: 20px;
  font-weight: 800;
}
.manage-panel ul h5{
  display: inline;
}
.manage-panel .work-types{
  width: fit-content;
  height: 50px;
  display: flex;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.manage-panel .work-types .worktype{
  background-color: var(--primary);
  border-radius: 5px;
  margin-left: 2px;
  margin-top: 5px;
  display: flex;
  height: 40px;
}
.manage-panel .work-types .worktype p{
  margin: 0px;
  text-align: center !important; 
  height: 40px;
  margin-left: 10px;
  padding: 5px;
  padding-top: 10px;
}
.manage-panel .work-types .worktype .interactable{
  font-size: 30px;
  padding-top: 0px;
}
.manage-panel .new-worktype-input{
  position: relative;
  width: 200px;
  margin-left: 20%;
}
.manage-panel .workTypes-panel{
  position: relative;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.manage-panel .colleagues-panel{
  background-color: var(--bg);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.manage-panel .logs-panel{
  position: absolute;
  right: 2.5%;
  height: 65%;
  top: 27.5%;
  width: 20%;
  background-color: var(--bg);
  border-radius: 10px;
}
.manage-panel .logs-panel .log{
  display: flex;
  font-size: 12px;
  width: 80%;
  margin-left: 10%;
}
.manage-panel .logs-panel .log p{
  margin: 5px;
}
.no-company{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display:  flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
a{
  text-decoration: none;
}
.info-popup{
  background-color: var(--bg);
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  padding-left: 100px;
  border-radius: 10px;
  padding-top: 50px;
  overflow-y: auto;
}
.info-popup .icon-close{
  filter: invert(1);
  position: absolute;
  right: 2%;
  top: 4%;
}
@keyframes row-load {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes anim-scale {
  0%{
    transform: scale(0.1);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes fade-in { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
